*.so filter=lfs diff=lfs merge=lfs -text
[merge]
tool = unityyamlmerge
[mergetool "unityyamlmerge"]
trustExitCode = false
cmd = '<path to UnityYAMLMerge>' merge -p "$BASE" "$REMOTE" "$LOCAL" "$MERGED"
#UnityYAMLMerge
*.mat merge=unityyamlmerge
*.anim merge=unityyamlmerge
*.unity merge=unityyamlmerge
*.prefab merge=unityyamlmerge
*.physicsMaterial2D merge=unityyamlmerge
*.physicsMaterial merge=unityyamlmerge
*.asset merge=unityyamlmerge
*.meta merge=unityyamlmerge
*.controller merge=unityyamlmerge
/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-11_6_0.bundle filter=lfs diff=lfs merge=lfs -text
/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.burst@1.8.10/.Runtime/libburst-llvm-15.dylib filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.toolchain.win-x86_64-linux-x86_64@2.0.6/data~/payload.tar.7z filter=lfs diff=lfs merge=lfs -text
