*.so filter=lfs diff=lfs merge=lfs -text
[merge]
tool = unityyamlmerge
[mergetool "unityyamlmerge"]
trustExitCode = false
cmd = '<path to UnityYAMLMerge>' merge -p "$BASE" "$REMOTE" "$LOCAL" "$MERGED"
#UnityYAMLMerge
*.mat merge=unityyamlmerge
*.anim merge=unityyamlmerge
*.unity merge=unityyamlmerge
*.prefab merge=unityyamlmerge
*.physicsMaterial2D merge=unityyamlmerge
*.physicsMaterial merge=unityyamlmerge
*.asset merge=unityyamlmerge
*.meta merge=unityyamlmerge
*.controller merge=unityyamlmerge
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-11_6_0.bundle filter=lfs diff=lfs merge=lfs -text
Assets/Third[[:space:]]Party/WebView/Standalone/Mac/Plugins/VuplexWebViewMac.bundle/Contents/Frameworks/Vuplex[[:space:]]WebView.app/Contents/Frameworks/Chromium[[:space:]]Embedded[[:space:]]Framework.framework/Chromium[[:space:]]Embedded[[:space:]]Framework filter=lfs diff=lfs merge=lfs -text
Assets/Third[[:space:]]Party/WebView/Standalone/Mac/Plugins/VuplexWebViewMac_with_codecs.bundle/Contents/Frameworks/Vuplex[[:space:]]WebView.app/Contents/Frameworks/Chromium[[:space:]]Embedded[[:space:]]Framework.framework/Chromium[[:space:]]Embedded[[:space:]]Framework filter=lfs diff=lfs merge=lfs -text
Assets/Third[[:space:]]Party/WebView/Standalone/Windows/Plugins/libcef_with_codecs.dll filter=lfs diff=lfs merge=lfs -text
Assets/Third[[:space:]]Party/WebView/Standalone/Windows/Plugins/VuplexWebViewChromium/libcef.dll filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-13_6_0.bundle filter=lfs diff=lfs merge=lfs -text
Assets/Assets/Cards/Backs/Card_Back_Notus.png filter=lfs diff=lfs merge=lfs -text
